.nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  div {
    &:nth-child(5) {
      margin-top: 20px;
    }
    a {
      text-decoration: none;
      color: white;
      display: block;
      padding-left: 10px;
      transition: 0.3s all;
      &:hover {
        color: rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50px;
      }
    }
  }
}
